<div class="pageDiv">

   <h1>HackIt - Level 1</h1>
   <%= link_to "Home", root_path %>
   <br><br><br>

<div style="text-align:left">
This is a very small Rails app designed to be hacked for fun.
<br><br>
<b>There are 2 tasks:</b>
<br>
1. Change the title of the notice board.<br>
2. Change the currency conversion rate.<br>
<br><br>
The code is in <%= link_to "this", "https://github.com/julianborrey/hackItLevel1" %> repo, 
so if you really want a hint you can look at it 
... but might as well have some fun and try do it first with out looking. ;)
<br><br>
Some hints are in the website anyway.
<br><br>
Also - to just save you some time, there is no XSS or sanitation breaking in this round.
Probably in level 2 though.
<br><br>
Have fun!
</div>

</div>
